<footer class="footer is-dark">
    <div class="container">
        <div class="content is-small has-text-centered">
            <figure class="icon image" style="display: inline-flex;width: 100px; height: 100px">
                <img class="is-rounded" style="width: 75px; height: 75px" src="/assets/png/logo_pur.png">
            </figure>
            <p class="">Millard Technical Services Ltd </br>
                Registered in England 07613814</br>
                The Stable, 3-6 Wadham St, Weston-super-Mare, BS23 1JY</br>
            <a href="/privacy/">Privacy Policy</a></p>
            <p class="">Member of <a href="https://www.deltafamiglia.com">Delta Famiglia Ltd</a></p>
        </div>

        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <div class="content is-small has-text-centered">
            <p class="">Theme built by <a href="https://www.csrhymes.com">C.S. Rhymes</a></p>
            <p class="">Design by <a href="">Swof Media</a></p>
        </div>
    </div>
</footer>