<!-- head scripts -->
<!-- Cookie Consent popup to comply with EU cookie law -->
<link rel="stylesheet" type="text/css" crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css"
      integrity="sha384-nA7usz4cMKo7RylsCZnpe0V9qx5X7sa011o0OrDzrKUE7Ero1gB48Fjaw6SFxVZe" />
<script async crossorigin="anonymous" data-cfasync="false"
        src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
        integrity="sha384-xLPjH6nqG4p/2mu1KJ1t+4KqcvkyXVwBucQtyGK65lDNfKzECxGY/QEYWR+Wompr"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "cookie": { "expiryDays": 730 },
            "palette": {
                "popup": { "background": "#383b75" },
                "button": { "background": "#f1d600" }
            },
            "theme": "classic"
        });
    });
</script>